<%- include("header") -%>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/car_overview.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <title>My profile</title>
    </head>

    <body>

        <div class="container" style="width: 70%;height: fit-content !important; margin-top: 2% !important;">
            <div class="container-header"><a class="back-button" href="main">Back</a></div>
            <div class="sub-container" style="padding-left: 25px;">
                <h3>Account informations</h3>
                <hr>
                <br>
                <ul>
                    <li>
                        <h4>First name:</h4>
                        <%= user.fname %>
                    </li>
                    <li>
                        <h4>Last name:</h4>
                        <%= user.lname %>
                    </li>
                    <li>
                        <h4>National ID:</h4>
                        <%= user.national_ID %>
                    </li>
                    <li>
                        <h4>Email:</h4>
                        <%= user.email %>
                    </li>
                    <li>
                        <h4>Address:</h4>
                        <%= user.address %>
                    </li>
                    <li>
                        <h4>Phone:</h4>
                        <%= user.phone %>
                    </li>
                </ul>

                <hr style="width: 100%;">
                <h3>My reservations</h3>
                <hr style=" border-top: 1px solid  ;">
                <br>
                <div class="row">
                    <% for(var i=0; i < userRes.length; i++){ %>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="panel panel-back noti-box">
                                <div class="text-box">
                                    <div class="car-box">
                                        <img class="car-image" src="../images/cars/<%= userRes[i].car_id %>.jpg"
                                            alt="car image">

                                        <p class="text-muted car-card-text">
                                            <%= userRes[i].company %>
                                                <%= userRes[i].model %>

                                        </p>
                                        <p class="text-muted car-card-text">
                                            <%= userRes[i].startD.toLocaleString([], {year: 'numeric' , month: 'numeric' ,
                                                day: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %>
                                        </p>
                                        <p class="text-muted car-card-text">
                                            <%= userRes[i].endD.toLocaleString([], {year: 'numeric' , month: 'numeric' ,
                                                day: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %>
                                        </p>

                                        <p class="text-muted car-card-text">
                                            Total cost: <%= userRes[i].cost %>$
                                        </p>
                                        <form action="profile" method="post">
                                        <p class="text-muted car-card-text" style="display: inline;">
                                            Paid: <%= userRes[i].rented %>
                                            <% if (userRes[i].rented == "No"){%>
                                                <button class="view-btn" name="pay_now_btn" value="<%= userRes[i].reserve_no %>"
                                                    type="submit" style="width: 40%;display: inline;margin-bottom: 10px;">
                                                    Pay now
                                                </button>
                                                <% } %> 
                                            </p>
                                        </form>
                                        <form action="overview" method="post">
                                            <button class="view-btn" name="car_id_btn" style="margin-bottom: 10px;" value="<%= userRes[i].car_id %>"
                                                type="submit">
                                                View car
                                            </button>
                                        </form>
                                        <form action="profile" method="post">
                                            <button class="view-btn" name="cancel_btn" value="<%= userRes[i].reserve_no %>"
                                                type="submit">
                                                Cancel
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
        <div class="container-footer" style="width: 70%; margin-bottom: 20px;"></div>



    </body>