<%- include("control") %>

    <div class="row">
        <div class="col-md-12">
            <h2>All Cars</h2>
        </div>
    </div>

    <hr />




    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>car ID</th>
                        <th>company</th>
                        <th>color</th>
                        <th>status</th>
                        <th>office</th>
                        <th>model</th>
                        <th>year</th>
                        <th>miles</th>
                        <th>price</th>
                        <th>Licence No</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < cars.length; i++){ %>
                        <tr>
                            <th>
                                <%= cars[i].car_id %>
                            </th>
                            <th>
                                <%= cars[i].company %>
                            </th>
                            <th>
                                <%= cars[i].color %>
                            </th>
                            <th>
                                <%= cars[i].status %>
                            </th>
                            <th>
                                <%= cars[i].office %>
                            </th>
                            <th>
                                <%= cars[i].model %>
                            </th>
                            <th>
                                <%= cars[i].year %>
                            </th>
                            <th>
                                <%= cars[i].miles %>
                            </th>
                            <th>
                                <%= cars[i].price %>
                            </th>
                            <th>
                                <%= cars[i].lic_no %>
                            </th>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <form action="/admin" method="post">
            <div class="orange-button">
                <button name="control_btn" value="add_car" type="submit" class="btn btn-danger square-btn">Add</button>
            </div>
        </form>
    </div>

    </div>
    <%- include("control_footer") %>