<%- include("control") %>
<link rel="stylesheet" href="../css/filters.css" type="text/css">
    <div class="row">
        <div class="col-md-12">
            <h2>All Customers</h2>
        </div>
    </div>

    <hr />




    <div class="panel-body">

        <form action="search" method="post">
            <input type="checkbox" id="menu">
            <label for="menu">Search</label>
            <div class="collapsible-container">
                <div class=" filters-container">
                    <div class="block1">
                        <span class="filter-text">customer ID:</span>
                        <input type="number" class="input_field filters-input-field" name="search_customer_id">
                    </div>

                    <div class="block2">
                        <span class="filter-text">First name:</span>
                        <input type="text" class="input_field filters-input-field" name="search_customer_fname">
                    </div>

                    <div class="block3">
                        <span class="filter-text">Last name:</span>
                        <input type="text" class="input_field filters-input-field" name="search_customer_lname">
                    </div>

                    <div class="block4">
                        <span class="filter-text">Email:</span>
                        <input type="text" class="input_field filters-input-field" name="search_customer_email">
                    </div>

                    <div class="block5">
                        <span class="filter-text">Address:</span>
                        <input type="text" class="input_field filters-input-field" name="search_customer_address">
                    </div>

                    <div class="block6">
                        <span class="filter-text">Phone:</span>
                        <input type="text" class="input_field filters-input-field" name="search_customer_phone">
                    </div>

                    <div class="block7">
                    <button class="filters_btn" name="search_btn" value="search_customers"
                    type="submit">Apply</button>
                </div>
                </div>
                
            </div>
        </form>


        <p class="search_message">
            <%= search_message %>
        </p>


        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="bg-color-red">
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>National ID</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Customer ID</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < allCustomers.length; i++){ %>
                        <tr>
                            <th>
                                <%= i+1 %>
                            </th>
                            <th>
                                <%= allCustomers[i].email %>
                            </th>
                            <th>
                                <%= allCustomers[i].fname %>
                            </th>
                            <th>
                                <%= allCustomers[i].lname %>
                            </th>
                            <th>
                                <%= allCustomers[i].national_ID %>
                            </th>
                            <th>
                                <%= allCustomers[i].address %>
                            </th>
                            <th>
                                <%= allCustomers[i].phone %>
                            </th>
                            <th>
                                <%= allCustomers[i].customer_id %>
                            </th>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <form action="/admin" method="post">
            <div class="orange-button">
                <button name="control_btn" value="add_customer" type="submit"
                    class="btn btn-danger square-btn">Add</button>
            </div>
        </form>
        <div class="row">
            <form action="/change" method="post">
                <select name="index" class="input_field">
                    <option value="" disabled selected>Customer to delete</option>
                    <% for(var i=0; i < freeCustomers.length; i++){ %>
                        <option value="<%= freeCustomers[i].customer_id %>">
                            <%= freeCustomers[i].customer_id %> - <%= freeCustomers[i].fname %> <%= freeCustomers[i].lname %>
                                        - <%= freeCustomers[i].email %>
                        </option>
                        <% } %>
                </select>
                <br>
                <div class="orange-button" style="float: left !important; padding: 15px 10px;">
                    <button name="delete_btn" value="delete_customer" type="submit"
                        class="btn btn-danger square-btn">Delete</button>
                </div>
                <div class="orange-button" style="float: left !important; margin: 0 !important; padding: 15px 10px;">
                    <button name="edit_btn" value="edit_customer" type="submit"
                        class="btn btn-danger square-btn">Edit</button>
                </div>
                <div class="orange-button" style="float: left !important; margin: 0 !important; padding: 15px 10px;">
                    <button name="edit_btn" value="edit_customer" type="submit"
                        class="btn btn-danger square-btn">change password</button>
                </div>
            </form>
        </div>

    </div>
    </div>
    <%- include("control_footer") %>