<%- include("control") %>

    <div class="row">
        <div class="col-md-12">
            <h2>All Cars</h2>
        </div>
    </div>
    <hr />

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="bg-color-red">
                    <tr>
                        <th>#</th>
                        <th>Company</th>
                        <th>Model</th>
                        <th>Status</th>
                        <th>Office</th>
                        <th>Color</th>
                        <th>Year</th>
                        <th>Miles</th>
                        <th>Price</th>
                        <th>Licence No</th>
                        <th>Car ID</th>
                        <th>Office</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < cars.length; i++){ %>
                        <tr>
                            <th>
                                <%= i+1 %>
                            </th>
                            <th>
                                <%= cars[i].company %>
                            </th>
                            <th>
                                <%= cars[i].model %>
                            </th>
                            <th>
                                <%= cars[i].status %>
                            </th>
                            <th>
                                <%= cars[i].location %>
                            </th>
                            <th>
                                <%= cars[i].color %>
                            </th>
                            <th>
                                <%= cars[i].year %>
                            </th>
                            <th>
                                <%= cars[i].miles %>
                            </th>
                            <th>
                                <%= cars[i].price %>
                            </th>
                            <th>
                                <%= cars[i].lic_no %>
                            </th>
                            <th>
                                <%= cars[i].car_id %>
                            </th>
                            <th>
                                <%= cars[i].location %>
                            </th>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <form action="/admin" method="post">
            <div class="orange-button">
                <button name="control_btn" value="add_car" type="submit" class="btn btn-danger square-btn">Add</button>
            </div>
        </form>

        <div class="row">
            <form action="/delete" method="post">
                <select name="car_lic" class="input_field">
                    <option value="" disabled selected>Car to delete</option>
                    <% for(var i=0; i < cars.length; i++){ %>
                        <option value="<%= cars[i].lic_no %>">
                            <%= cars[i].car_id %> - <%= cars[i].company %> - <%= cars[i].model %>
                                        - <%= cars[i].lic_no %>- <%= cars[i].office %>
                        </option>
                        <% } %>
                </select>
                <br>
                <div class="orange-button" style="float: left !important;">
                    <button name="delete_control_btn" value="delete_car" type="submit"
                        class="btn btn-danger square-btn">Delete</button>
                </div>
            </form>
        </div>
        
        
        <hr />


        <div class="row">
            <% for(var i=0; i < cars.length; i++){ %>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                        <div class="text-box">
                            <img class="car-image" src="../images/cars/<%= cars[i].car_id %>.jpg" alt="car image">
                            <p class="text-muted car-card-text">car ID: <%= cars[i].car_id %></p>
                            <p class="text-muted car-card-text">
                                model: <%= cars[i].company %>
                                    <%= cars[i].model %>
                            </p>

                        </div>
                    </div>
                </div>
                <% } %>
        </div>

    </div>
    </div>
    <%- include("control_footer") %>