<%- include("control") %>
<link rel="stylesheet" href="../css/filters.css" type="text/css">

    <div class="row">
        <div class="col-md-12">
            <h2>Admin Dashboard</h2>
            <h5>Welcome &nbsp;<%= admin %>, Glad to see you back. </h5>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <div class="text-box">
                    <lord-icon src="https://cdn.lordicon.com/ckuogwdx.json" trigger="hover"
                        style="width:80px;height:80px">
                    </lord-icon>
                    <p class="main-text">
                        <%=cars_count %> Car
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <div class="text-box">
                    <lord-icon src="https://cdn.lordicon.com/uukerzzv.json" trigger="hover"
                        style="width:80px;height:80px">
                    </lord-icon>
                    <p class="main-text">
                        <%=customers_count %> Customer
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <div class="text-box">
                    <lord-icon src="https://cdn.lordicon.com/nocovwne.json" trigger="hover"
                        style="width:80px;height:80px">
                    </lord-icon>
                    <p class="main-text">
                        <%=res_count %> Reservation
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <div class="text-box">
                    <lord-icon src="https://cdn.lordicon.com/qhviklyi.json" trigger="hover"
                        style="width:80px;height:80px">
                    </lord-icon>
                    <p class="main-text">
                        <%=total_profits%>$ Profits
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />





    <div class="row" >
        <div class="col-md-12">
            <h3>Daily Report</h3>
        </div>
    </div>
    <hr style="width: 50%; float: left; margin: 0;">

    <form action="search" method="post" style="margin-top: 20px !important;" >
        <input type="checkbox" id="menu">
        <label for="menu">Search</label>
        <div class="collapsible-container">
            <div class=" filters-container" style="height: 100px;">
                <div class="block1">
                    <span class="filter-text">Date:</span>
                    <div>
                        <input type="date" class="input_field filters-input-field" name="search_profit_sdate">
                        <input type="date" class="input_field filters-input-field" name="search_profit_edate">
                    </div>
                </div>
                <div class="block2" >
                <button class="filters_btn" name="search_btn" value="daily_report" 
                type="submit">Apply</button>
            </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="panel-body">
            <div class="table-responsive">
                <div style="overflow: scroll;height: 300px;">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="bg-color-red">
                        <th>Dates</th>
                        <th>Total profit</th>
                        <th># of cars</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < profitsReport.length; i++){ %>
                            <tr>
                                <th>
                                    <%= profitsReport[i].days %>
                                </th>
                                <th>
                                    <%= profitsReport[i].total_profit %>
                                </th>
                                <th>
                                    <%= profitsReport[i].cars_num %>
                                </th>
                                
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <hr />





    <div class="row" >
        <div class="col-md-12">
            <h3>Income statement</h3>
        </div>
    </div>
    <hr style="width: 50%; float: left; margin: 0; margin-bottom: 10px;">

    <form action="search" method="post" style="margin-top: 20px !important;">
        <input type="checkbox" id="menu2">
        <label for="menu2">Search</label>
        <div class="collapsible-container">
            <div class=" filters-container" style="height: 100px;">
                <div class="block1">
                    <span class="filter-text">Date:</span>
                    <div>
                        <input type="date" class="input_field filters-input-field" name="search_income_sdate">
                        <input type="date" class="input_field filters-input-field" name="search_income_edate">
                    </div>
                </div>
                <div class="block2" >
                <button class="filters_btn" name="search_btn" value="income_statemet" 
                type="submit">Apply</button>
            </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="panel-body">
            <div class="table-responsive">
                <div style="overflow: scroll;height: 300px;">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="bg-color-red">
                        <th>Reservation date</th>
                        <th>Num of reservations</th>
                        <th>Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < incomeTable.length; i++){ %>
                            <tr>
                                <th>
                                    <%= incomeTable[i].resDate.toLocaleString("sv-SE").slice(0, 10) %>
                                </th>
                                <th>
                                    <%= incomeTable[i].num_res %>
                                </th>
                                <th>
                                    <%= incomeTable[i].income %>
                                </th>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <hr />





    <div class="row" >
        <div class="col-md-12">
            <h3>Car status</h3>
        </div>
    </div>
    <hr style="width: 50%; float: left; margin: 0; margin-bottom: 10px;">

    <form action="search" method="post" style="margin-top: 20px !important;">
        <input type="checkbox" id="menu3">
        <label for="menu3">Search</label>
        <div class="collapsible-container">
            <div class=" filters-container" style="height: 100px;">
                <div class="block1">
                    <span class="filter-text">Date:</span>
                </div>
                    <div class="block2">
                        <input type="date" class="input_field filters-input-field" name="search_cStatus_date">
                    </div>
                <div class="block3" >
                <button class="filters_btn" name="search_btn" value="car_status" 
                type="submit">Apply</button>
            </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="panel-body">
            <div class="table-responsive">
                <div style="overflow: scroll;height: 430px;">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="bg-color-red">
                        <th>#</th>
                        <th>Car ID</th>
                        <th>Car</th>
                        <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < carStatus.length; i++){ %>
                            <tr>
                                <th>
                                    <%= i+1 %>
                                </th>
                                <th>
                                    <%= carStatus[i].car_id %>
                                </th>
                                <th>
                                    <%= carStatus[i].company %> <%= carStatus[i].model %> <%= carStatus[i].year %>
                                </th>
                                <th>
                                    <%= carStatus[i].status %>
                                </th>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <hr />





    <div class="row">
        <div class="col-md-12">
            <h3>Most recent reservations</h3>
        </div>
    </div>
    <hr style="width: 50%; float: left; margin: 0;">
    <div class="row">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="bg-color-red">
                        <th>#</th>
                        <th>Reserve date</th>
                        <th>Customer name</th>
                        <th>Car ID</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Reserve No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < recent_res.length; i++){ %>
                            <tr>
                                <th>
                                    <%= i+1 %>
                                </th>
                                <th>
                                    <%= recent_res[i].res_date.toLocaleString("sv-SE") %>
                                </th>
                                <th>
                                    <%= recent_res[i].fname %>
                                        <%= recent_res[i].lname %>
                                </th>
                                <th>
                                    <%= recent_res[i].car_id %>
                                </th>
                                <th>
                                    <%= recent_res[i].startD.toLocaleString("sv-SE") %>
                                </th>
                                <th>
                                    <%= recent_res[i].endD.toLocaleString("sv-SE") %>
                                </th>
                                <th>
                                    <%= recent_res[i].reserve_no %>
                                </th>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <h3>Most reserved cars</h3>
            <hr style="width: 50%;float: left;margin: 0;">
            <br>
        </div>
    </div>
    <div class="row">
        <% for(var i=0; i < cars.length; i++){ %>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <div class="text-box">
                        <img class="car-image" src="../images/cars/<%= cars[i].car_id %>.jpg" alt="car image">
                        <p class="text-muted car-card-text">
                            <%= cars[i].company %> <%= cars[i].model %> <%= cars[i].year %>
                        </p>
                        <p class="text-muted car-card-text">
                            No reservations: <%= cars[i].num_res %>
                        </p>
                        <p class="text-muted car-card-text" style="background-color:'red';">
                            Office: <%= cars[i].location %>
                        </p>
                        <p class="text-muted car-card-text">
                            <%= cars[i].price %>$
                        </p>
                        
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    </div>


    <%- include("control_footer") %>