<%- include("control") %>

    <div class="row">
        <div class="col-md-12">
            <h2>All Reservations</h2>
        </div>
    </div>

    <hr />

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="bg-color-red">
                    <tr>
                        <th>#</th>
                        <th>Reserve No</th>
                        <th>Customer name</th>
                        <th>Car ID</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < reservations.length; i++){ %>
                        <tr>
                            <th>
                                <%= i+1 %>
                            </th>
                            <th>
                                <%= reservations[i].reserve_no %>
                            </th>
                            <th>
                                <%= reservations[i].fname %> <%= reservations[i].lname %>
                            </th>
                            <th>
                                <%= reservations[i].car_id %>
                            </th>
                            <th>
                                <%= reservations[i].startD.toLocaleString().split(',')[0] %>
                            </th>
                            <th>
                                <%= reservations[i].endD.toLocaleString().split(',')[0] %>
                            </th>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <form action="/admin" method="post">
            <div class="orange-button">
                <button name="control_btn" value="add_res" type="submit" class="btn btn-danger square-btn">Add</button>
            </div>
        </form>

        <div class="row">
            <form action="/change" method="post">
                <select name="index" class="input_field" >
                    <option value=""  disabled selected >Reserve No.</option>
                    <% for(var i=0; i < reservations.length; i++){ %>
                        <option value="<%= reservations[i].reserve_no %>">
                            <%= reservations[i].reserve_no %> %>
                        </option>
                        <% } %>
                </select>
                <br>
                <div class="orange-button" style="float: left !important;">
                    <button name="delete_btn" value="delete_res" type="submit"
                        class="btn btn-danger square-btn">Delete</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <%- include("control_footer") %>