<%- include("control") %>

    <div class="row">
        <div class="col-md-12">
            <h2>All Reservations</h2>
        </div>
    </div>

    <hr />





    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="bg-color-red">
                    <tr>
                        <th>Reserve No </th>
                        <th>Customer ID</th>
                        <th>Car ID</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < reservations.length; i++){ %>
                        <tr>
                            <th>
                                <%= reservations[i].reserve_no %>
                            </th>
                            <th>
                                <%= reservations[i].customer_id %>
                            </th>
                            <th>
                                <%= reservations[i].car_id %>
                            </th>
                            <th>
                                <%= reservations[i].startD %>
                            </th>
                            <th>
                                <%= reservations[i].endD %>
                            </th>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <%- include("control_footer") %>