<%- include("control") %>
    <link rel="stylesheet" href="../css/filters.css" type="text/css">

    <h2>Main Settings</h2>
    <hr />
    <br>

    <h3>All Admins</h3>
    <hr />
    <div class="panel-body">
        <div class="table-responsive" style="width: 70%;">
            <table class="table table-striped table-bordered table-hover">
                <thead class="bg-color-red">
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < admins.length; i++){ %>
                        <tr>
                            <th>
                                <%= i+1 %>
                            </th>
                            <th>
                                <%= admins[i].email %>
                            </th>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <form action="/admin" method="post">
            <div class="orange-button">
                <button name="control_btn" value="add_admin" type="submit"
                    class="btn btn-danger square-btn">Add</button>
            </div>
        </form>
        <div class="row">
            <form action="/change" method="post">
                <select name="index" class="input_field">
                    <option value="" disabled selected>Admin email</option>
                    <% for(var i=0; i < admins.length; i++){ %>
                        <option value="<%= admins[i].email %>">
                            <%= admins[i].email %>
                        </option>
                        <% } %>
                </select>
                <br>
                <div class="orange-button" style="float: left !important;">
                    <button name="delete_btn" value="delete_admin" type="submit"
                        class="btn btn-danger square-btn">Delete</button>
                </div>
            </form>
        </div>
        <hr />
        <h3>All Offices</h3>
        <hr />
        <div class="table-responsive" style="width: 70%;">
            <% if(offices.length> 2){ %>
                <div class="scroll_bar">
                    <% } %>
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="bg-color-red">
                                <tr>
                                    <th>#</th>
                                    <th>Location</th>
                                    <th>Office ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < offices.length; i++){ %>
                                    <tr>
                                        <th>
                                            <%= i+1 %>
                                        </th>
                                        <th>
                                            <%= offices[i].office_id %>
                                        </th>
                                        <th>
                                            <%= offices[i].location %>
                                        </th>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                </div>
        </div>
        <form action="/admin" method="post">
            <div class="orange-button">
                <button name="control_btn" value="add_office" type="submit"
                    class="btn btn-danger square-btn">Add</button>
            </div>
        </form>
        <br>
        <div class="row">
            <form action="/change" method="post">
                <select name="index" class="input_field">
                    <option value="" disabled selected>Office</option>
                    <% for(var i=0; i < offices.length; i++){ %>
                        <option value="<%= offices[i].office_id %>">
                            <%= offices[i].location %>
                        </option>
                        <% } %>
                </select>
                <br>
                <div class="orange-button" style="float: left !important;">
                    <button name="delete_btn" value="delete_office" type="submit"
                        class="btn btn-danger square-btn">Delete</button>
                </div>
            </form>
        </div>
    </div>

    </div>


    <%- include("control_footer") %>