<%- include("../header") -%>

    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/car_overview.css" type="text/css">
    <title>overview</title>
    </head>

    <body>

        <div class="container">
            <div class="container-header"><a class="back-button" onclick="window.history.go(-1); return false;">Back</a></div>
            
            
            <div class="sub-container">
                <div class="left-block">
                    <img  class="car-image" src="../images/cars/<%= car.car_id %>.jpg" alt="car image">
                </div>
                <div class="right-block">
                    <h2> <%= car.company %> <%= car.model %> <%= car.year %></h2>
                    <hr>
                    <ul>
                        <li>Company: <%= car.company %>
                        <li>Model: <%= car.model %>
                        <li>Year: <%= car.year %>
                        <li>Color: <%= car.color %>
                        <li>Miles: <%= car.miles %>
                    </ul>
                    <h3>Price/day: <%= car.price %>$</h3>
                    <form action="reserve" method="post">
                    <button class="reserve-button" name="reserve_btn" value="<%= car.car_id %>">Reserve</button></form>
                </div>
            </div>
        </div>
        <div class="container-footer"></div>



    </body>