<%- include("../header") -%>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/car_overview.css" type="text/css">
    <title>reserve</title>
    </head>

    <body>
        <script src="filters.js" ></script>
        <div class="container" style="height: 80vh !important; width: 70%; ">
            <div class="container-header"><a class="back-button" onclick="window.history.go(-1); return false;">Back</a>
            </div>
            <div class="sub-container">
                <div class="left-block">
                    <img class="car-image" src="../images/cars/<%= car.car_id %>.jpg" alt="car image">
                </div>
                <div class="right-block">
                    <form action="confirmReservation" method="post">
                        <h2>
                            <%= car.company %>
                                <%= car.model %>
                                    <%= car.year %>
                        </h2>
                        <hr style="margin:  0; border-top: 2px solid  ;">
                        
                        <h4>Car unavailable days:</h4>
                        <div class="table-responsive">
                            <div class="scroll_bar">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead class="bg-color">
                                        <tr>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < reservations.length; i++){ %>
                                            <tr>
                                                <th>
                                                    <%= reservations[i].startD.toLocaleString("sv-SE") %>
                                                </th>
                                                <th>
                                                    <%= reservations[i].endD.toLocaleString("sv-SE") %>
                                                </th>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="reserve-date">
                            <div>
                                <h4>Start date:</h4>
                                <input type="date" name="sdate" min="<%= minDate %>" max="<%= maxDate %>" required>
                            </div>
                            <div>
                                <h4>End date:</h4>
                                <input type="date" name="edate" min="<%= minDate %>" max="<%= maxDate %>" required>
                            </div>
                        </div>
                        <input type="hidden" name="car_id" value="<%= car.car_id %>">
                        <input type="hidden" name="car_price" value="<%= car.price %>">
                        <!-- must select the date here -->
                        <h3 style="margin-top: 10px;" >Price/day: <%= car.price %>$</h3>
                        <button class="reserve-button" name="reserve_btn" value="reserve" style="margin: 0;">Confrim</button>
                    </form>
                </div>
            </div>
            <div class="container-footer" style="width: 100% !important;"></div>
        </div>


        
    </body>